/* resetters */
body, div, p, ul, li, span {margin:0; padding:0;}
a, a img, img {border:0;}

table {border-collapse:collapse;}

/* generic settings */
ul {list-style-type:none;}

/* container */
#container {margin:auto; width:1080px; overflow:auto;}


/* masthead */
#masthead { min-height:35px;}
#masthead ul li, #masthead li a {float:left;}

/* panels */
#panels{ clear:both; float:left; width:20%;}

/* content */
#content {float:left; width:59%; }


/* toolbars */
#toolbars {float:left; width:20%;}


/* footer */
#footer {clear:both;}