/* resetters */
body, div, p, ul, li, span {margin:0; padding:0;}
a, a img, img {border:0;}

/* generic settings */
ul {list-style-type:none;}

/* container */
#container {border:1px solid #ccc; margin:auto; width:982px; overflow:auto;}


/* masthead */
#masthead {border:1px solid blue; min-height:35px;}
#masthead ul li, #masthead li a {float:left;}

/* panels */
#panels{border:1px solid red; clear:both; float:left; width:20%;}

/* content */
#content {border:1px solid green; float:left; width:35%; }


/* toolbars */
#toolbars {border:1px solid blue; float:left; width:30%;}


/* footer */
#footer {border:1px solid red; clear:both;}