/* CSS Document */
/* resetters */
body, div, p, ul, li, span {margin:0; padding:0;}
a, a img, img {border:0;}

/* general settings */
div, p, ul, li {font:14px "Lucida Sans Unicode", arial, sans-serif;}
ul, li {list-style:none;}
a {text-decoration:none;}
.error {color:red; font-size:.9em; padding-left:5px;}
.error-two {color:red;}
.clearfix {clear:both;}
.sprite {background:url(../../../images/splashy.png);}



/* header */
#header {background:-moz-linear-gradient(top, #4a86cc, #2e57b4); float:left; width:100%;}
/* company logo */
#companylogo {color:#fff; font-size:18px; float:left; padding:.5em .5em .5em 1em; text-shadow:1px 2px 1px #012248; width:50%;}

/* user context info */
.usercontextinfo {float:right; padding: 1em 1.25em 1em 1.25em; position:relative; width:40%;}
.usercontextinfo ul {text-align:right;}
.usercontextinfo ul li {display:inline;}
.usercontextinfo ul li, .usercontextinfo ul li a {color:#fff; font-size:.8em;}
.usercontextinfo ul li  {padding:0 1.5em;}
.usercontextinfo ul li a:hover {text-decoration:underline;}
.usercontextinfo ul li:last-child  {border-left:1px dotted #fff;}

/* calendar */
.calendar {bottom:-15px; color:#fad25d; font-size:.8em; right:35px; position:absolute;}

/* tongbens edit quick search */
.quicksearch {bottom: -30px; font-size:.8em; right:35px; position:absolute;}
.quicksearch a{color:#fad25d;}

/* navigation menu */
#menu {clear:both;}
#menu .menucontainer {position:relative;}
#menu li, #menu a {float:left;}
#menu a {padding:.5em 2.5em;}
#menu .menucontainer > li.selected {background:#fff;}
#menu .menucontainer > li.selected a {color:#666666;}
#menu .menucontainer > li {background:-moz-linear-gradient(top, #3f85ca, #5894d2); border-top-left-radius:6px; border-top-right-radius:6px; margin:0 1px;}
#menu .menucontainer > li:first-child {margin-left:15px;}
#menu ul.menucontainer li a {color:#fff;}
#menu ul.menucontainer > li:hover {background:#fff;}
#menu ul.menucontainer > li:hover a {color:#666666;}

/* sub-menu */
#menu .menucontainer li div {background:-moz-linear-gradient(top, #eaf5fb, #e0eef9);  box-shadow: 0 1px 3px 1px #bbbbbb; position:absolute; left:0px; top:31px; width:100%;}
#menu .menucontainer ul li a {font-size:.8em; color:#666666;}
#menu .menucontainer ul li a:hover {text-decoration:underline;}
#menu .menucontainer li div ul li {border:none;}
#menu .menucontainer li div ul li.submenuselected a {color:#f4640f; text-decoration:underline;}
/* selected/hovered sub-menu */
#menu .menucontainer li > div {visibility:hidden;}
#menu .menucontainer li div.selected {visibility:visible;}
#menu .menucontainer li:hover div {visibility:visible;}

/* mini-dashboard */
.minidashboard {background: -moz-linear-gradient(top, #ededed, #fff, #ededed); border-top:1px solid #ededed; border-bottom:1px solid #ededed; float:left; min-height:35px; margin:1em 0 2.5em 0; padding:1em 0; width:100%;}
.minidashboard  div.panelOne, .minidashboard  div.panelTwo, .minidashboard  div.panelThree {float:left; width:30%;}
.minidashboard  div.panelOne p, .minidashboard  div.panelTwo p, .minidashboard  div.panelThree p {color:#fff; font-size:.85em;}
.minidashboard div.panelOne {background:#f3c24f; margin-right:5px; padding:.5em;}
.minidashboard div.panelTwo {background:#eeb612; margin-right:5px; padding:.5em;}
.minidashboard div.panelThree {background:#f4640f; padding:.5em;}

/* wrapper */
.wrapper form p {font-size:.85em; margin:.75em 0;}
.wrapper form p label {color:#505050; float:left; padding:.5em 0; width:12em;}
.wrapper form p input[type=text]{color:#505050; padding:.5em; width:15em;}
.wrapper form p.submit {margin-left:12em;}
.wrapper form p input[type=submit] {color:#505050; padding:.25em .5em; width:10em;}
.wrapper form p select {color:#505050; padding:.25em .5em; width:18em;}

.wrapper .heading {font-size:1em; color:#636363;}

/* container */
#container {clear:both; padding:3em; min-height:560px;}
#container div#view_form p {font-size:.9em; margin:.5em 0;}

/* dcr datagrid */
#entryfield {width:95%;}
#entryfield th {color:#636363; font-size:.9em; text-align:left;}
#entryfield td input, #entryfield td select {color:#636363; padding: .25em 5px; width:90%;}
#datagrid {margin-top:1em; width:95%;}
#datagrid th {color:#636363; font-size:.9em;}

#datagrid {border-collapse: collapse}
#datagrid th {border-bottom:1px solid #cecece; text-align:left;}
#datagrid td {color:#636363; font-size:.9em; padding:.5em 0;}
#datagrid td.currency {text-align:right; padding-right:1em;}
#datagrid tbody tr {border-bottom:1px solid #cecece !important;}
#datagrid td .EditBtn {color:#00b940;}
#datagrid td .DelBtn {color:#d91e00;}

/* generic tables */
.regdatagrid {border-collapse: collapse; width:100%;}
.regdatagrid th {border-bottom:1px solid #cecece; color:#636363; font-size:.9em; text-align:left;}
.regdatagrid td {color:#636363; font-size:.9em; padding:.5em 0;}
.regdatagrid td.currency {font-weight:bold; text-align:right; padding-right:1em;}
.regdatagrid tbody tr {border-bottom:1px solid #cecece !important;}
.regdatagrid tbody tr:hover {background:#ececec;}
.regdatagrid td .reggriddelbtn {color:#d91e00;}
.regdatagrid td .reggrideditbtn, .regdatagrid td .restore_db {color:#00B940;}


/* job order secttion */
.jo-save-btn {margin-top:2em; padding-right:5em; text-align:right;}
.submitedit, .saveorder {padding:.25em 2.5em;}

/* toolbar */
.toolbar {margin-bottom:1em;}
.toolbar a {background:-moz-linear-gradient(top, #4a86cc, #2e57b4); border-radius:4px; color:#fff; font-size:.8em; padding:.5em 1em;}
.toolbar .cancenewlbtn {background:-moz-linear-gradient(top, #f4640f, #f7913e); border-radius:4px; color:#fff; font-size:.8em; margin-left:145px; padding:.5em 1em;}
.toolbar .canceleditbtn {background:-moz-linear-gradient(top, #f4640f, #f7913e); border-radius:4px; color:#fff; font-size:.8em; margin-left:145px; padding:.5em 1em;}
.noaddmorebtn {background:-moz-linear-gradient(top, #f4640f, #f7913e); border-radius:4px; color:#fff; font-size:.8em; padding:.5em 1em;}
.addnmorebtn {background:-moz-linear-gradient(top, #4e9e19, #62c71f); border-radius:4px; color:#fff; font-size:.8em; padding:.5em 1em;}

/* footer */
#footer {background:#ececec; background:url(../../../images/footer_bg.gif); clear:both; float:left; min-height:30px; padding-top:1em; width:100%;}
#footer .leftpane p, #footer .rightpane p {font-size:.7em; color:#666666;}
#footer .leftpane p a, #footer .rightpane p a {color:#666666; text-decoration:underline;}
#footer .leftpane p a:hover, #footer .rightpane p a:hover {text-decoration:none;}
#footer .leftpane {float:left; padding-left:1em; width:48%;}

#footer .rightpane {float:right; text-align:right; padding-right:1em; width:48%;}

/* some UI icons */
.welcomeusermsg {position:relative;}
.welcomeusermsg img {position:absolute; top:-1px; left:-25px;}
.calendaricon {background-position:left -60px; display:inline-block; height:17px; margin-top:2px; padding-right:2px; width:16px;}
.loginusernameicon {background-position:-23px -83px; display:inline-block; height:15px; margin-top:2px; padding-right:2px; width:12px;}
.loginpasswordicon {background-position:-44px -1189px; display:inline-block; height:15px; margin-top:2px; padding-right:2px; width:12px;}

/* dcr dialog */
#dcr_dialog select {height:60%; margin-bottom:1.25em; width:100%;}
#dcr_dialog p {color:#636363; margin:.5em 0;}
#dcr_dialog .dcrparticular {color:#636363; padding:.5em 0; width:15.5em;}

/* printables should be hidden */
.prntview {display:none;}
h4 {font-size:.9em; margin:.5em 0;}
.prnt-regdatagrid {width:70%;}
.prnt-regdatagrid {border-collapse:collapse; font-size:.9em;}
.prnt-regdatagrid th {border-bottom:1px solid #636363 !important;}
.prnt-regdatagrid th:first-child, .prnt-regdatagrid td:first-child {width:60%;}
.prnt-regdatagrid th:last-child, .prnt-regdatagrid td:last-child {text-align:right; width:30%;}
.prnt-regdatagrid td {padding:.25em 0;}
.prnt-cash-float-box {visibility:hidden;}

/* printing tasks */
.prnt-button-container { clear:both; padding-top:2em;}
.prnt-print-button {background:-moz-linear-gradient(top, #4e9e19, #62c71f); border-radius:4px; color:#fff; font-size:.9em; padding:.5em 3em;}