/* CSS Document */
/*@import url("main.css");*/
body, div, p, ul, li, span {margin:0; padding:0;}
a, a img, img {border:0;}

body {color: #000; background: #fff;}
a, a:hover, a:visited {text-decoration:none; color:#000;}

/* page size */
@page {size: 8.25in 5.5in; margin: .5in .75in;}

/* media screen object should be hidden */
/* header */
.usercontextinfo {display:none;}
#masthead, .minidashboard {display:none;}

/* tabs and menus */
#menu {display:none;}

/* toolbar */
.toolbar {display:none;}

/* table entry */	
#entryfield, .submitedit {display:none;}


/* wrapper */
.wrapper {font: 11px/1.5em Arial, Helvetica, sans-serif}



/* default container */
form p input {border:none;}

/* heading */
h3 {display:none;}

h4 {font-size:.8em; margin:0;}
.prnt-company-header {margin:auto; text-align:center; width:100%;}
.prnt-company-header h4 {font-size:1.25em; line-height:1.5em;}
.prnt-company-header h2 {font-size:.9em; margin:.25em 0;}
.prnt-regdatagrid {border-collapse:collapse; font-size:.8em; width:100%;}
.prnt-regdatagrid th {border-bottom:1px solid #000;}
.prnt-regdatagrid th:first-child, .prnt-regdatagrid td:first-child {width:60%;}
.prnt-regdatagrid th:last-child, .prnt-regdatagrid td:last-child {text-align:right; width:30%;}

/*date */
.prnt-trnxdate {font-size:.7em; text-align:right;}

/* cash lift and cash float */
.prnt-cash-lift-box {margin-top:-5em;}
.prnt-cash-lift-box, .prnt-cash-float-box {float:left; width:45%;}
.prnt-cash-float-box {padding-left:5em;}
.prnt-cash-float-box p {font-size:.85em;}


/* footer */
#footer {display:none;}
